body {
  background: #e3e3e3;
  color: #e3e3e3;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background: #233142;
  max-width: 600px;
  border-radius: 8px;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 30px 0;
}

.search-bar {
  background: #e3e3e3;
  width: 80%;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 20px;
}

.search-button {
  background: #f95959;
  color: #e3e3e3;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-left: 6px;
  padding: 20px 25px;
}

main {
  padding: 25px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  font-size: 40px;
  font-weight: 700;
}

.weather-details {
  line-height: 1.5;
  font-size: 18px;
}

.humidity-value,
.wind-speed-value {
  color: #f95959;
  font-weight: 600;
}

.temperature-display {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.temperature-icon {
  width: 88px;
  height: 88px;
}

.temperature-value {
  font-size: 75px;
  font-weight: 700;
  line-height: 88px;
}

.temperature-unit {
  font-size: 30px;
  margin-top: 8px;
}

.weather-forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-forecast-item {
  text-align: center;
}

.weather-forcast-day {
  font-size: 16px;
}

.weather-forecast-temp {
  font-size: 15px;
}

.forecast-high {
  color: #f95959;
}

.forecast-low {
  color: #f29696;
}

a {
  color: #f29696;
}

footer {
  border-top: 1px solid #e3e3e3;
  padding: 30px 0 0 0;
  font-size: 14px;
  text-align: center;
}
